{% for idea in ideas %}
  <div class="idea">
    <img 
      src={{idea.image}} 
      alt={{idea.title}}>

    <div class="content">
      <h3>{{idea.title}}</h3>
      <p>{{idea.category}}</p>
      <div class="description">
        {{idea.description}}
      </div>
      
      <div id="idea-buttons">
        <a href={{idea.link}} target="_blank">Ir para ideia</a>
        <a onclick="handleDelete(event)" id={{idea.id}} class="button">Deletar ideia</a>
      </div>
    
    </div>
  </div>
{% endfor %}